@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grid--padding: 30px;
  --text--padding: 100px;
}

ul, li, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'ghanachoco';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  height: auto;
  cursor: default;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#wrap {
  height: 800vh;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  top: 0;
  color: #fff;
  font-size: 2.1rem;
  font-weight: 300;
  background-color: black;
  text-align: center;
  line-height: 100vh;
  -webkit-animation: textslide 3s infinite alternate;
          animation: textslide 3s infinite alternate;
}

.loader::after {
  position: fixed;
  z-index: 1000;
  color: white;
  content: "";
  -webkit-animation: loader 1200ms linear infinite;
          animation: loader 1200ms linear infinite;
}

@-webkit-keyframes loader {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

@keyframes loader {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

.container-fluid {
  padding-right: var(--grid--padding);
  padding-left: var(--grid--padding);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: var(--grid--padding);
  border-bottom: 2px solid;
  font-size: 86px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 0.7;
  text-transform: uppercase;
}

header div:nth-of-type(1) span {
  font-size: 86px;
  letter-spacing: 0.1vw;
  -webkit-text-stroke: 1px black;
  color: rgba(0, 0, 0, 0);
}

#min-nav {
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 999;
}

#min-nav #hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: var(--padding--result);
  padding-top: var(--padding--result);
  cursor: pointer;
  position: fixed;
  left: 2.3%;
  top: 2.7%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#min-nav #hamburger img {
  width: 1.5vw;
  -webkit-filter: invert(0);
          filter: invert(0);
}

#min-nav #hamburger::after {
  content: "";
  width: 2.8vw;
  height: 5vh;
  position: fixed;
  left: 1.6%;
  top: 1.5%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border: 1px solid white;
}

#min-nav #hamburger:hover img, #min-nav #hamburger:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#min-nav #menu {
  width: 30%;
  height: 100vh;
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#min-nav #menu::before {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0px;
  z-index: -1;
  bottom: 0px;
  outline: 1px solid black;
  outline-offset: -15px;
}

#min-nav #menu li {
  padding-top: var(--padding--result);
}

#min-nav #menu li a {
  font-size: 5vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1vw;
  -webkit-text-stroke: 1px black;
  color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, left top, right top, from(black), color-stop(50%, black), color-stop(50.1%, transparent));
  background-image: linear-gradient(90deg, black 0%, black 50%, transparent 50.1%);
  background-size: 0% 100%;
  -webkit-transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  -webkit-background-clip: text;
  background-repeat: no-repeat;
}

#min-nav #menu li a:hover {
  background-size: 200% 100%;
}

#min-nav #menu li a::after {
  content: "";
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  border-bottom: 5px solid;
  display: block;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

#min-nav #menu li a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#min-nav #menu li #close {
  -webkit-text-stroke: 1px black;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

#slider {
  width: 97%;
  height: 80vh;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 1.5%;
  position: relative;
}

#slider #container-fluid {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#slider #container-fluid-img {
  width: 95%;
  height: 50vh;
  background: url(../img/image-from-rawpixel-id-3822808-original.png);
  background-size: 100%;
  -webkit-filter: invert(1);
          filter: invert(1);
  position: relative;
}

#slider #layer {
  width: 95%;
  height: 50vh;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 18.9%;
}

#slider #deco2 {
  position: absolute;
  left: 10%;
  top: 5%;
}

#slider #deco3 {
  position: absolute;
  left: 10%;
  top: 5%;
}

#slider #deco4 {
  position: absolute;
  left: 75%;
  top: 35%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

#slider #deco5 {
  position: absolute;
  left: 20%;
  top: 55%;
}

#slider #deco6 {
  position: absolute;
  left: 60%;
  top: 35%;
  -webkit-filter: invert(0.8) opacity(0.8);
          filter: invert(0.8) opacity(0.8);
}

main {
  position: relative;
  overflow: hidden;
}

main section {
  padding-top: var(--grid--padding);
  padding-bottom: var(--grid--padding);
  position: relative;
}

main #site-video {
  height: 100vh;
  overflow: hidden;
}

main #site-video .container-fluid {
  padding: var(--grid--padding);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main #site-video .video {
  background-image: url(../img/image-from-rawpixel-id-3388283-original.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

main #site-video .video-about-me {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-backdrop-filter: brightness(60%);
          backdrop-filter: brightness(60%);
}

main #site-video .video-about-me h1 {
  color: white;
  font-family: 'ghanachoco';
  font-size: 5vw;
  padding-left: var(--text--padding);
  padding-top: var(--grid--padding);
  mix-blend-mode: difference;
}

main #site-video .video-about-me #sticker {
  width: 15vw;
  position: absolute;
  left: 2%;
  top: 15%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-filter: invert(0);
          filter: invert(0);
}

main #site-video .video-about-me-text {
  width: 100%;
  height: 50vh;
  position: relative;
  z-index: 10;
  top: 0;
}

#services {
  width: 100%;
  height: 40vh;
  background: white;
}

#services #out-text,
#services .out2-text,
#services #inner-text,
#services .inner2-text {
  white-space: nowrap;
  margin-right: 15vw;
  font-size: clamp(32px, 6.29575vw, 120px);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 0.7;
  text-transform: uppercase;
  padding-top: var(--grid--padding);
}

#services .out2-text,
#services .inner2-text {
  -webkit-text-stroke: 1px black;
  color: rgba(0, 0, 0, 0);
  font-weight: normal;
}

#min-section {
  width: 97%;
  height: auto;
  background: #eee;
  margin: 0 auto;
}

#min-section-show {
  position: relative;
  padding: 50px;
}

#min-section-show #sticker2 {
  width: 15vw;
  position: absolute;
  left: 4%;
  top: 40%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-filter: invert(0);
          filter: invert(0);
}

#min-section-show h1 {
  color: white;
  font-family: 'ghanachoco';
  font-size: 5vw;
  padding-left: var(--text--padding);
  padding-top: var(--grid--padding);
  mix-blend-mode: difference;
}

#min-section-grid, #min-section-grid2 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#min-section-grid:not(:first-child), #min-section-grid2:not(:first-child) {
  padding-bottom: var(--text--padding);
}

#min-section-grid-image, #min-section-grid-image2, #min-section-grid2-image, #min-section-grid2-image2 {
  width: 60vw;
  height: 100%;
}

#min-section-grid-image div, #min-section-grid-image2 div, #min-section-grid2-image div, #min-section-grid2-image2 div {
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  left: 0;
  overflow: hidden;
}

#min-section-grid-image div img, #min-section-grid-image2 div img, #min-section-grid2-image div img, #min-section-grid2-image2 div img {
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  -o-object-fit: cover;
     object-fit: cover;
}

#min-section-grid-text, #min-section-grid2-text {
  width: 40vw;
  height: auto;
  padding: var(--grid--padding);
  position: relative;
}

#min-section-grid-text div:nth-of-type(1), #min-section-grid2-text div:nth-of-type(1) {
  width: 100%;
  height: 80vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--grid--padding);
  border: 2px dashed black;
}

#min-section-grid-text div:nth-of-type(1) p:nth-of-type(1), #min-section-grid2-text div:nth-of-type(1) p:nth-of-type(1) {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3.5vw;
  text-align: center;
  padding-bottom: var(--grid--padding);
}

#min-section-grid-text div:nth-of-type(1) p:nth-of-type(2), #min-section-grid2-text div:nth-of-type(1) p:nth-of-type(2) {
  font-family: 'Staatliches', cursive;
  font-size: 5vw;
  text-align: center;
  padding-top: var(--grid--padding);
}

#min-section-grid-text div:nth-of-type(2), #min-section-grid2-text div:nth-of-type(2) {
  width: 100%;
  height: 80vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  left: 0;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding: var(--text--padding);
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 1px dashed white;
  outline-offset: -20px;
}

#min-section-grid-text div:nth-of-type(2) p:nth-of-type(1), #min-section-grid2-text div:nth-of-type(2) p:nth-of-type(1) {
  color: white;
  font-family: 'Pretendard-Regular';
  text-align: center;
  padding-bottom: var(--grid--padding);
}

#min-section-grid-text div:nth-of-type(2) section, #min-section-grid2-text div:nth-of-type(2) section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#min-section-grid-text div:nth-of-type(2) section button, #min-section-grid2-text div:nth-of-type(2) section button {
  width: 5vw;
  height: 5vh;
  border: 1px solid white;
  color: white;
  background: transparent;
  cursor: pointer;
}

#min-section-grid-text #deco1, #min-section-grid2-text #deco1 {
  width: 20vw;
  position: absolute;
  top: -7%;
  right: 0;
  -webkit-animation: rotate_image 30s linear infinite;
          animation: rotate_image 30s linear infinite;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes rotate_image {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate_image {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#min-section-grid-text2, #min-section-grid2-text2 {
  width: 40vw;
  height: auto;
  padding: var(--grid--padding);
  position: relative;
}

#min-section-grid-text2 div:nth-of-type(1), #min-section-grid2-text2 div:nth-of-type(1) {
  width: 100%;
  height: 80vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  left: 0;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding: var(--text--padding);
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 1px dashed white;
  outline-offset: -20px;
}

#min-section-grid-text2 div:nth-of-type(1) p:nth-of-type(1), #min-section-grid2-text2 div:nth-of-type(1) p:nth-of-type(1) {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3.5vw;
  text-align: center;
  padding-bottom: var(--grid--padding);
  color: white;
}

#min-section-grid-text2 div:nth-of-type(1) p:nth-of-type(2), #min-section-grid2-text2 div:nth-of-type(1) p:nth-of-type(2) {
  font-family: 'Staatliches', cursive;
  font-size: 5vw;
  text-align: center;
  padding-top: var(--grid--padding);
  color: white;
}

#min-section-grid-text2 div:nth-of-type(2), #min-section-grid2-text2 div:nth-of-type(2) {
  width: 100%;
  height: 80vh;
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--grid--padding);
  border: 2px dashed black;
  background: #eee;
}

#min-section-grid-text2 div:nth-of-type(2) p:nth-of-type(1), #min-section-grid2-text2 div:nth-of-type(2) p:nth-of-type(1) {
  color: black;
  font-family: 'Pretendard-Regular';
  text-align: center;
  padding-bottom: var(--grid--padding);
}

#min-section-grid-text2 div:nth-of-type(2) section, #min-section-grid2-text2 div:nth-of-type(2) section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: var(--grid--padding);
}

#min-section-grid-text2 div:nth-of-type(2) section button, #min-section-grid2-text2 div:nth-of-type(2) section button {
  width: 5vw;
  height: 5vh;
  border: 1px solid black;
  color: black;
  background: transparent;
  cursor: pointer;
}

#skils-section {
  width: 100%;
  height: 130vh;
  background-color: #eee;
  margin: 0 auto;
  position: relative;
}

#skils-section-cover {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  z-index: 99;
}

#skils-section-cover img {
  width: 20vw;
  position: absolute;
  left: 30%;
  mix-blend-mode: difference;
}

#skils-section-show {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#skils-section-show #sticker3 {
  width: 15vw;
  position: absolute;
  right: 12%;
  top: 38%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-filter: invert(0);
          filter: invert(0);
}

#skils-section-show h1 {
  color: white;
  font-family: 'ghanachoco';
  font-size: 5vw;
  padding-left: var(--text--padding);
  padding-top: var(--grid--padding);
  mix-blend-mode: difference;
}

#skils-section-box {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skils-section-box .ssb {
  width: 18vw;
  height: 36vh;
  -webkit-transform: perspective(1000px) rotateY(-25deg);
          transform: perspective(1000px) rotateY(-25deg);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-box-shadow: 15px 15px 15px rgba(100, 100, 100, 0.3);
          box-shadow: 15px 15px 15px rgba(100, 100, 100, 0.3);
}

#skils-section-box .ssb:hover {
  -webkit-transform: rotateY(0) scale(1.15);
          transform: rotateY(0) scale(1.15);
}

#skils-section-box-1 {
  background-image: url(../img/20220113_163925.png);
  background-size: cover;
  cursor: pointer;
}

#skils-section-box-2 {
  background-image: url(../img/ezgif.com-gif-maker.gif);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

#skils-section-box-3 {
  background: olive;
}

#skils-section-box-4 {
  background: pink;
}

#skils-section-box-5 {
  background: yellow;
}

#skils-section-modal-1, #skils-section-modal-2 {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: brightness(60%);
          backdrop-filter: brightness(60%);
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

#skils-section-modal-1-1, #skils-section-modal-1-2, #skils-section-modal-2-1, #skils-section-modal-2-2 {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 25%;
}

#skils-section-modal-1-1 #close1,
#skils-section-modal-1-1 #close2, #skils-section-modal-1-2 #close1,
#skils-section-modal-1-2 #close2, #skils-section-modal-2-1 #close1,
#skils-section-modal-2-1 #close2, #skils-section-modal-2-2 #close1,
#skils-section-modal-2-2 #close2 {
  position: absolute;
  right: 0%;
  top: -10%;
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}
